* {
    margin: 0;
}


:root {
    font-family: sans-serif;
    text-align: center;
    transition: background-color 200ms ease, color 200ms ease;
}

:root:not(.dark-mode) {
    background-color: #1a1a1d;
    color: #f4f4f4;
}

:root.dark-mode {
    background-color: #f4f4f4;
    color: #1a1a1d;
}

body {
    margin: 10px;
}


#theme-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}
